/*.playYaniv{
    height: 30px;
    width: 200px;
    background-color: blue;
    text-align: center;
}*/

ul{
    list-style-type: none;
}

ul li{
    display: inline-block;
    margin:10px;
}

.card{
    width:40px;
    height:60px;
    background-color: yellow;
}

.deck{
    background-color: blue;
    margin: 0 auto;
}

.opponentCard{
    background-color: blue;
}
.yanivButton{
    width:80px;
    height:20px;
    text-align:center;
    margin: 0 auto;
}

.pressfalse{
    background-color:red;
}

.presstrue{
    background-color:green;
}

.selectedtrue{
    background-color:pink;
}