
    <div class="yanivButton press{{canYaniv()}}" ng-click="doTheYaniv()">
        Yaniv
    </div>
    <div class="gamePoints">
        {{gamePoints}}
    </div>
    <ul>
        <li ng-repeat="card in hand | orderBy: 'crd'">
            <playercard></playercard>
        </li>
    </ul>
    <div class="handPoints">
        {{getHandPoints()}}
    </div>
    <deck></deck>
    <ul>
        <li ng-repeat="card in garbage">
            <garbagecard></garbagecard>
        </li>
    </ul>
    <ul class=opponentCardsContainer>
        <li ng-repeat="card in getOpponentNumberOfCards()" class=opponentCardContainer>
            <div class="card opponentCard"></div>
        </li>
    </ul>
    <div class="gamePoints">
        {{opponentGamePoints}}
    </div>
